<%= link_to 'Add new Student', new_student_path, data:{bs_toggle:"modal", bs_target:"#newStudent", remote: true}%>
<h1>All Students</h1>

<table id="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Password</td>
        <td>Status</td>
        <td>Action</td>
    </tr>
     
    <% @students.each do |s|%>
    <%= render 'student', s: s %>
    <% end %>
</table>


<!-- Modal -->
<div class="modal" id="newStudent" tabindex="-1" aria-labelledby="newStudentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newStudentLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newForm">
      </div>
    </div>
  </div>
</div>
<p>This is a paragraph.</p>

<button class="btn1">Hide</button>
<button class="btn2">Show</button>

<script>
$(document).ready(function(){
  $(".btn1").click(function(){
    $("p").hide();
  });
  $(".btn2").click(function(){
    $("p").show();
  });
});
</script>